<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet-common-ci" value="https://pkgs.dev.azure.com/thnetii/dotnet-common/_packaging/dotnet-common-ci/nuget/v3/index.json" />
    <add key="aws-sdk-net-ext-ci" value="https://pkgs.dev.azure.com/thnetii/aws-sdk-net-ext/_packaging/aws-sdk-net-ext-ci/nuget/v3/index.json" />
  </packageSources>
</configuration>
